@import "../../../../assets/scss/base/variables";

.user-details {
  display: flex;
  flex-direction: column;
  width: 25%;

  @media #{$media-tablet} {
    width: 50%;
    margin-top: 1rem;
  }

  @media #{$media-mobile} {
    width: 100%;
  }

  &__group {
    display: flex;
    margin-bottom: 1rem;
  }

  &__avatar {
    height: 45px;
    width: 50px;
    margin-right: 0.5rem;
    border-radius: $border-radius--sm;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;
  }

  &__display-name {
    font-size: $font-size--base;
    margin-bottom: 0.3rem;
    font-weight: $font-weight--bold;
  }

  &__username {
    color: $tertiary-color;
    font-size: $font-size--sm;
    font-weight: $font-weight--medium;
  }

  &__bio {
    font-size: $font-size--base;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }

  button {
    color: $dark-grey;
    margin-bottom: 1rem;

    @media #{$media-desktop-sm} {
      font-size: $font-size--base;
    }
  }

  &__website {
    margin-bottom: 1rem;
    font-weight: $font-weight--medium;
    font-size: $font-size--base;

    &-header {
      margin-bottom: 0.5rem;
    }

    &-link {
      color: $secondary-color;
      text-decoration: none;
      display: flex;
      align-items: center;

      &__text {
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      svg {
        height: $font-size--md;
        width: $font-size--md;
        margin-right: 0.2rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
