@import "../../../assets/scss/base/variables";

.error-message {
  text-align: center;

  svg,
  &__description {
    margin-bottom: 16px;
  }

  svg {
    height: 28px;
    width: 28px;
    color: $tertiary-color;
  }

  &__description {
    line-height: 20px;
  }

  &__button {
    border-radius: 20px;
  }
}
