body {
  font-family: $font-family;
  color: $primary-color;
  font-size: $font-size--md;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
}
