@import "../../../assets/scss/base/variables";

.layout {
  &__background {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-light--tertiary;

    form {
      width: 70%;

      @media #{$media-tablet} {
        width: 85%;
      }
    }

    @media #{$media-mobile-sm} {
      height: 150px;

      form {
        width: 90%;
      }
    }
  }

  &__content {
    margin: 1rem 7rem;
    padding-bottom: 1rem;

    @media #{$media-desktop-sm} {
      margin: 1rem 4rem;
    }

    @media #{$media-tablet} {
      margin: 1rem 2rem;
    }

    @media #{$media-mobile} {
      margin: 1rem;
    }
  }
}
