@import "../../../../assets/scss/base/variables";

.gif-stat {
  display: flex;
  margin-bottom: 1rem;

  &__title {
    font-weight: $font-weight--medium;
    margin-right: 0.5rem;
    font-size: $font-size--base;
  }

  &__value {
    font-size: $font-size--sm;
  }
}
